body {
	background-image: url(https://www.colourbox.de/preview/10069939-sciences-doodles-icons-vector-set.jpg);
}

.main {
	background-color: white;
	margin: auto;
	padding: 0px 40px 10px 40px;
	border-right: 1px solid #1D60AE;
	border-left: 1px solid #1D60AE;
}


.main-picture img {
	max-width:100%;
	height: auto;
}

.scientist {
	background-color: white;
	margin-left: 6%;
	/*	
	margin-right: 600px;
	font-size: 20px;
	height: 100px;
	width: 300px;
	*/
	width: 40%;
	bottom: 80px;
    position: relative;
	text-align: center;
	color: #1D60AE;
	text-transform: uppercase;
	min-width: 200px;
}


/*
.scientist p {
	width: 100%;
	height: auto;
}
*/

.name {
	font-size: 25px;
	padding-top: 1%;
}

.date {
	font-size: 17px;
}

.text-all {
	border-right: 1px solid black;
	background-color: white;
}

.text-all p {
	padding-left: 20px;
}

.intro {
	background-color: white;
	padding-right: 20px;
	padding-left: 20px;
}

.paragraf2, .paragraf3, .paragraf4 {
    margin-top: 30px;
}

.title1, .title2, .title3, .title4 {
	color: #1D60AE;
    padding-left: 20px;	
}

.quotes {
	font-style: italic;
	text-align: center;
	padding-top: 40px;
}

.intro h4 {
	color: #1D60AE;
	margin-top: 30px;
}

.autor {
	 margin-top: 30px;
	 text-align: center;
}

@media only screen and (max-width: 600px) {
	.scientist {
		position: static;
    	width: 100%;
    	margin: 0px;
	}
	
}

@media only screen and (max-width: 991px) {
.text-all {
		border: none;
	}
}
